.good-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  gap: 40px;
}

.good-card {
  background-color: antiquewhite;
  max-width: 265px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.good-card .product-img-container {
  width: 100%;
}

.good-card .product-img-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-details {
  padding: 20px;
}
